div.yoo div.middle div {
	margin: 0px;
	padding: 0px;
	float: left;
	display: block;
}

div.yoo div.middle div a {
	float: left;
	display: block;
}

div.yoo div.middle div a span {
	float: left;
	display: block;
}


/* middle */
/* top */
div.yoobutton  div.top { 
	position: relative;
	padding-top: 15px;
	overflow: hidden;
}

div.yoobutton  div.top div.middle { 
	position: absolute;
	top: 0px;
	left: 0px;
}

div.yoobutton div.yoo div.top div.middle div { background: url(../images/yoobutton.png) 0 0 no-repeat; }

div.yoobutton div.yoo div.top div.middle div a {	
	padding: 0px 25px 0px 10px;
	background: url(../images/yoobutton.png) 100% -35px no-repeat;	
	cursor: pointer;
	text-decoration: none;
	color: #555555;
}

div.yoobutton div.yoo div.top div.middle div a span {
	padding: 0px 5px 0px 5px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/yoobutton.png) 0 -70px repeat-x;
}

div.yoobutton div.yoo div.top div.middle div:hover { background-position: 0 -105px; }
div.yoobutton div.yoo div.top div.middle div:hover a { background-position: 100% -140px; }
div.yoobutton div.yoo div.top div.middle div:hover a span { background-position: 0 -175px; }

div.yoobutton div.yoo div.top div.middle div.selected { background-position: 0 -210px; }
div.yoobutton div.yoo div.top div.middle div.selected a { background-position: 100% -245px; }
div.yoobutton div.yoo div.top div.middle div.selected a span { background-position: 0 -280px; }

div.yoobutton div.yoo div.top div.middle div:hover a span,
div.yoobutton div.yoo div.top div.middle div.selected a span {
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
}
div.yoobutton div.yoo div.bottom{
	height: 10px;
}

a.buttonext,
a.buttontext,
a.buttontextbig,
.smallSubmit,
.smallSubmit:hover,
.mediumSubmit, 
.largeSubmit, 
.loginButton,
.button-style-1 a,
.button-style-1 ul a,
.button-style-2 ul a, 
.button-style-2 a, 
.basic-table tr .button-col a, 
.button,

input[type="reset"],
input[type="submit"],
input[type="button"],
.woobutton {
    border: none;
    
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/woobutton60.png) no-repeat;
	font-weight: bold;
	float:left;
	width:70px;
	text-align:center;
}

a.buttonext:hover,
a.buttontext:hover,
.smallSubmit:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
.woobutton:hover {
    border: none;
    
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/woobutton60.png) 0 -105px no-repeat;
	color: #ffffff;
}
.view-calendar button .ui-datepicker-trigger
{
	width: 20px;
}


.woobutton80 {
    border: none;
    padding: 0px 0px 0px 0px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/woobutton80.png) no-repeat;
	font-weight: bold;
	float:left;
	width:85px;
	text-align:center;
}

.woobutton80:hover {
    border: none;
    padding: 0px 0px 0px 0px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/woobutton80.png) 0 -105px no-repeat;
	color: #ffffff;
}

.woobutton40 {
	margin-top:10px;
    border: none;
    padding: 0px 0px 0px 0px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/woobutton40.png) no-repeat;
	font-weight: bold;
	float:left;
	width:85px;
	text-align:center;
}

.woobutton40:hover {
    border: none;
    padding: 0px 0px 0px 0px;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/woobutton40.png) 0 -105px no-repeat;
	color: #ffffff;
}
.width1{
	width:1px;
}
.width20{
	width:20px;
}
.width30{
	width:30px;
}
.width80{
	width:80px;
}
.width90{
	width:90px;
}
.width100{
	width:100px;
}