
#header {
	position: relative;
	z-index: 10;
	padding-bottom: 2px;
	clear: both;
}




 

 
#breadcrumbs {
	padding-bottom: 2px;
	background: url(../images/breadcrumbs_bg.png) 0 0 no-repeat;
	overflow: hidden;
	clear: both;
	font-size: 10px;
	line-height: 22px;
	text-shadow: 0 1px 0 rgba(255,255,255,1);
}

div.breadcrumbs-1 {
	padding: 0px 10px 0px 10px;
	background: url(../images/breadcrumbs_bg.png) 100% -60px no-repeat;
}

div.breadcrumbs-2 {
	padding: 14px 5px 14px 5px;
	height: 22px;
	overflow: hidden;
	background: url(../images/breadcrumbs_bg.png) 0 -120px repeat-x;
}

#breadcrumbs a,
#breadcrumbs span {
	display: block;
	float: left;
}

#breadcrumbs a,
#breadcrumbs span.separator { color: #646464; }

#breadcrumbs a:hover,
#breadcrumbs span.current { 
	color: #ffffff;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5), 0 1px 2px rgba(0,0,0,0.5);
	text-decoration: none;
}

#breadcrumbs .box-1 { 
	margin-right: 10px;
	background: url(../images/breadcrumbs.png) 0 0 no-repeat;
}

#breadcrumbs .box-2 {
	padding: 0px 10px 0px 15px;
	background: url(../images/breadcrumbs.png) 100% -32px no-repeat;
}

#breadcrumbs .box-3 {
	height: 22px;
	padding-left: 5px;
	background: url(../images/breadcrumbs.png) 0 -64px repeat-x;
}

#breadcrumbs a:hover { background-position: 0 -96px; }
#breadcrumbs span.current { background-position: 0 -192px; }
#breadcrumbs a:hover .box-2,
#breadcrumbs span.current .box-2 { background-position: 100% -128px; }
#breadcrumbs a:hover .box-3,
#breadcrumbs span.current .box-3 { background-position: 0 -160px; }

#date {
	margin: 0px 5px 0px 0px;
	float: right;
}

 

 
#toolbar {
	height: 55px;
	overflow: hidden;
	line-height: 25px;
	font-size: 10px;
}

 
#logo {
	position: absolute;
	top: 5px;
	left: 15px;
	min-height: 55px;
}

#menu {
	position: absolute;
	bottom: 7px;
	left: 7px;
	z-index: 11;
}

 
 
div.header-1 { background: url(../images/header_edges.png) 0 0 repeat-y; }

div.header-2 {
	padding: 0px 5px 0px 5px;
	background: url(../images/header_edges.png) 100% 0 repeat-y;
}

div.header-3 {
	padding: 5px 10px 10px 10px;
	overflow: hidden;
	background: #ffffff;
}

div.header-b1 {	background: url(../images/header_corners.png) 0 0 no-repeat; }

div.header-b2 {
	padding: 0px 7px 0px 7px;
	background: url(../images/header_corners.png) 100% -60px no-repeat;
}

div.header-b3 {
	height: 50px;
	overflow: hidden;		
	background: url(../images/header_corners.png) 0 -120px repeat-x;
}

