#userlogin_body {
	background: url(../images/user_all_bg.gif) repeat;
	
}	


div.body {
	padding-top:60px;
    margin: 0 auto;
    width:960px;

}

div.loginnew-01_ {
	position:relative;
	width:48px;
	height:15px;
}



div.loginnew-04_ {
	position:relative;
	width:60px;
	height:15px;
}

div.loginnew-05_ {
	position:absolute;
	left:0px;
	top:15px;
	width:26px;
	height:79px;
}

div.loginnew-06_ {
	position:absolute;
	left:26px;
	top:15px;
	width:731px;
	height:27px;
}

div.loginnew-07_ {
	position:absolute;
	left:757px;
	top:15px;
	width:4px;
	height:79px;
}

div.loginnew-08_ {
	position:absolute;
	left:761px;
	top:15px;
	width:155px;
	height:79px;
}

div.loginnew-09_ {
	position:absolute;
	left:916px;
	top:15px;
	width:20px;
	height:79px;
}

div.loginnew-10_ {
	position:absolute;
	left:936px;
	top:15px;
	width:1px;
	height:105px;
}

div.loginnew-11_ {
	position:absolute;
	left:26px;
	top:42px;
	width:8px;
	height:52px;
}

div.loginnew-12_ {
	position:absolute;
	left:34px;
	top:42px;
	width:119px;
	height:30px;
}

div.loginnew-13_ {
	position:absolute;
	left:153px;
	top:42px;
	width:604px;
	height:52px;
}

div.loginnew-14_ {
	position:absolute;
	left:34px;
	top:72px;
	width:119px;
	height:22px;
}

div.loginnew-15_ {
	position:absolute;
	left:0px;
	top:94px;
	width:45px;
	height:26px;
}

div.loginnew-16_ {
	position:absolute;
	left:45px;
	top:94px;
	width:3px;
	height:26px;
}

div.loginnew-17_ {
	position:absolute;
	left:48px;
	top:94px;
	width:888px;
	height:26px;
}

div.loginnew-18_ {
	position:absolute;
	left:0px;
	top:120px;
	width:15px;
	height:501px;
}

div.loginnew-19_ {
	position:absolute;
	left:15px;
	top:120px;
	width:624px;
	height:33px;
}

div.loginnew-20_ {
	position:absolute;
	left:639px;
	top:120px;
	width:4px;
	height:501px;
}

div.loginnew-21_ {
	position:absolute;
	left:643px;
	top:120px;
	width:273px;
	height:372px;
}

div.loginnew-22_ {
	position:absolute;
	left:916px;
	top:120px;
	width:21px;
	height:501px;
}

div.loginnew-23_ {
	position:absolute;
	left:15px;
	top:153px;
	width:9px;
	height:468px;
}

div.loginnew-24_ {
	position:absolute;
	left:24px;
	top:153px;
	width:612px;
	height:309px;
}

div.loginnew-25_ {
	position:absolute;
	left:636px;
	top:153px;
	width:3px;
	height:468px;
}

div.loginnew-26_ {
	position:absolute;
	left:24px;
	top:462px;
	width:612px;
	height:30px;
}

div.loginnew-27_ {
	position:absolute;
	left:24px;
	top:492px;
	width:41px;
	height:40px;
}

div.loginnew-28_ {
	position:absolute;
	left:65px;
	top:492px;
	width:256px;
	height:129px;
}

div.loginnew-29_ {
	position:absolute;
	left:321px;
	top:492px;
	width:38px;
	height:40px;
}

div.loginnew-30_ {
	position:absolute;
	left:359px;
	top:492px;
	width:277px;
	height:129px;
}

div.loginnew-31_ {
	position:absolute;
	left:643px;
	top:492px;
	width:59px;
	height:129px;
}

div.loginnew-32_ {
	position:absolute;
	left:702px;
	top:492px;
	width:162px;
	height:45px;
}

div.loginnew-33_ {
	position:absolute;
	left:864px;
	top:492px;
	width:52px;
	height:129px;
}

div.loginnew-34_ {
	position:absolute;
	left:24px;
	top:532px;
	width:41px;
	height:89px;
}

div.loginnew-35_ {
	position:absolute;
	left:321px;
	top:532px;
	width:38px;
	height:89px;
}

div.loginnew-36_ {
	position:absolute;
	left:702px;
	top:537px;
	width:162px;
	height:84px;
}

div.loginnew-37_ {
	position:absolute;
	left:0px;
	top:621px;
	width:936px;
	height:30px;
}

div.loginnew-38_ {
	position:absolute;
	left:936px;
	top:621px;
	width:1px;
	height:30px;
}

.right { background-color: #99CC33; float: right;}
.left {background-color: #CEF3FF;float: left;}
.center {text-align: center; background-color: #CCCCCC;}



.login-top-section {
 	background: url(../images/loginnew_03.gif) repeat-x;
	height:15px; 
}
.login-top-container {
	background: url(../images/loginnew_01.gif) ;
	width:9px;
	height:15px;
	float: left;
}
.login-top-container-clear {
	background: url(../images/loginnew_04.gif);
	width:60px;
	height:15px;
	float: right;
}

.login-logo-section {
 	background: url(../images/loginnew_07.gif) repeat-x;
	height:79px; 
}
.login-logo-container {
	background: url(../images/loginnew_05.gif) ;
	width:21px;
	height:81px;
	float: left;
}
.login-logo-container-clear {
	background: url(../images/loginnew_09.gif);
	width:21px;
	height:81px;
	float: right;
}
#login-logo{
	padding:15px 0 0 10px; 
	font-size: 8px;
	font-weight:bold ; 
	font-style: italic;
	color: #003366;" 
}
.loginnew_07 {
	background: url(../images/loginnew_07.gif) repeat-x;
	height:79px;
}
.login-blank {
	background: url(../images/loginnew_16.gif) repeat-x;
	height:26px;
}
.login-content-section {
 	background: url(../images/loginnew_20.gif) repeat-x;
 	background-position: 0 0;
	height:358px; 
}
.login-content-container {
	background: url(../images/loginnew_22.gif) ;
	background-position: 0 0;
	width:21px;
	height:358px;
	float: right;
}
.login-content-container-clear {
	background: url(../images/loginnew_18.gif);
	background-position: 0 0;
	width:15px;
	height:358px;
	float: left;
}

.login-main-section {
 	background: url(../images/loginnew_20.gif) repeat-x 0px -358px;
	height:143px; 
}
.login-main-container {
	background: url(../images/loginnew_18.gif) no-repeat;
	background-position:0px -358px ;
	width:15px;
	height:143px;
	float: left;
}
.login-main-container-clear {
	background: url(../images/loginnew_22.gif) ;
	background-position:0px -358px;
	width:21px;
	height:143px;
	float: right;
}


.login-footer-container {
	background: url(../images/footer1.jpg);
	background-position: 0 0;
	width:10px;
	height:30px;
	float: left;
}
.login-footer-container-clear {
	background: url(../images/footer3.jpg) ;
	background-position: 0 0;
	width:10px;
	height:30px;
	float: right;
}

.login-footer-section {
	background: url(../images/footerCenter.jpg) repeat-x;
	height:30px;
}




.display-form{
	padding:20px 0 0 35px; 
}
#powered{
	margin-right: 20px;
}

.display-content{
	padding:25px 0 0 10px; 
	font-size: 8px;
	font-weight:bold; 
	font-style: italic;
	color: #003366;
}

div.outer-range{width:100%}
div.outer-range div.inner{ float:left; display: inline-block;}

/* .loginnew_05 {
	background: url(../images/loginnew_05.gif) no-repeat;
}

.loginnew_06 {
	background: url(../images/loginnew_06.gif) repeat-x;
	color: #555555;
}
.loginnew_08 {
	background: url(../images/loginnew_08.gif) no-repeat;
	width: 21px;
} */





.screenlet {
background-color: #FFFFFF;
border: 0.1em solid #ddd;
height: auto !important;
margin-top: 5px;
margin-bottom: 5px;
border-radius: .4em;
overflow-x: auto;
overflow-y: hidden;
background: url("../images/headbg_bottomLine_title.gif") 0 0 repeat-x;

}

/* login screenlet decorator */
.login-screenlet {
min-width: 12em;
 width: 25%; 
}

.login-screenlet .screenlet-title-bar {
 text-align: center; 
 font-size: 12px;
}

form table,
.basic-table,
.screenlet-body .basic-table {
background: transparent;
margin-bottom: 0;
 font-size: 12px;
}

.basic-table tr td {
/* Style for all cells */
/* height: 22px; */
padding: 2px 5px;
border-bottom: 1px solid #E3E6EB;
vertical-align: middle;
/* text-align:center; */
padding: 4px 5px;
}

.login-help{
	 padding : 0 0 10px 30px;
	 font-size: 12px;
	 
}
.login-help div a{
	 height: 15px;
}
.login-help div a{
	 color: #565656;
}

label {
	position: absolute;
    z-index: 2;
    margin-top:0px;
    
    padding: 5px;
padding-top: 2px;
padding-right: 3px;
padding-bottom: 2px;
padding-left: 3px;
border: 1px solid #DDD;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #DDD;
border-right-color: #DDD;
border-bottom-color: #DDD;
border-left-color: #DDD;
background-color: #EEE;

}
.error{
	background: #FBE3E4;
background-image: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: #FBE3E4;
color: #D12F19;
border-color: #FBC2C4;
border-top-color: #FBC2C4;
border-right-color: #FBC2C4;
border-bottom-color: #FBC2C4;
border-left-color: #FBC2C4;
}





input[type="submit"],
.loginbutton {
    border: none;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/login_btn.gif) no-repeat;
	font-weight: bold;
	float:right;
	width:70px;
	text-align:center;
}


input[type="submit"]:hover,
.loginbutton:hover {
    border: none;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/login_btn.gif) 1px 1px no-repeat;
	cursor:pointer
}
