.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #727171;
}
.line {
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #9fa0a0;
	border-right-color: #9fa0a0;
	border-bottom-color: #9fa0a0;
	border-left-color: #9fa0a0;
}
.g_login {
	
	font-size: 12px;
	color: #666666;
}
.bdispaly{
	margin: 20px 0 0 15px;
	
}

label {
	position: absolute;
    z-index: 2;
    margin-top:0px;
    
    padding: 5px;
padding-top: 2px;
padding-right: 3px;
padding-bottom: 2px;
padding-left: 3px;
border: 1px solid #DDD;
border-top-width: 1px;
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-top-style: solid;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-top-color: #DDD;
border-right-color: #DDD;
border-bottom-color: #DDD;
border-left-color: #DDD;
background-color: #EEE;

font-size: 12px;
}
.error{
	background: #FBE3E4;
background-image: initial;
background-repeat-x: initial;
background-repeat-y: initial;
background-attachment: initial;
background-position-x: initial;
background-position-y: initial;
background-origin: initial;
background-clip: initial;
background-color: #FBE3E4;
color: #D12F19;
border-color: #FBC2C4;
border-top-color: #FBC2C4;
border-right-color: #FBC2C4;
border-bottom-color: #FBC2C4;
border-left-color: #FBC2C4;
}





input[type="submit"],
.loginbutton {
    border: none;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/login_btn.gif) no-repeat;
	font-weight: bold;
	float:right;
	width:70px;
	text-align:center;
}


input[type="submit"]:hover,
.loginbutton:hover {
    border: none;
	height: 35px;
	line-height: 35px;
	overflow: hidden;
	background: url(../images/login_btn.gif) 1px 1px no-repeat;
	cursor:pointer
}

.login-help a{
	 color: #565656;
	 font-size: 12px;
	 text-decoration:none; 
	 
}
